In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [215]:
url_fantosy = "https://books.toscrape.com/catalogue/category/books/fantasy_19/index.html"
response = requests.get(url_fantosy)
response

In [216]:
soup_fantasy = BeautifulSoup(response.content)

In [219]:
#Fantasy

star_converter = {
    "Zero": 0,
    "One": 1,
    "Two": 2,
    "Three": 3,
    "Four": 4,
    "Five": 5
}

book_titles = []
book_prices = []
book_stars = []

all_title = soup_fantasy.find_all('ol')
for ol in all_title:
    for li in ol.find_all("li"):
        book_titles.append(li.h3.a.get("title"))
        book_prices.append(li.find("p", class_="price_color").text)
        book_stars.append(
            star_converter.get(
                li.find("p", class_="star-rating").get("class")[1]
            )
        )

In [221]:
fantasy_dict = {"title": book_titles, "price": book_prices, "rating": book_stars}
fantasy_df = pd.DataFrame(fantasy_dict)
fantasy_df

                                                title   price  rating
0                                      Unicorn Tracks  £18.78       3
1       Saga, Volume 6 (Saga (Collected Editions) #6)  £25.02       3
2    Princess Between Worlds (Wide-Awake Princess #5)  £13.34       5
3                                   Masks and Shadows  £56.40       2
4              Crown of Midnight (Throne of Glass #2)  £43.29       3
5   Avatar: The Last Airbender: Smoke and Shadow, ...  £28.09       2
6   A Court of Thorns and Roses (A Court of Thorns...  £52.37       1
7                Throne of Glass (Throne of Glass #1)  £35.07       3
8      The Glittering Court (The Glittering Court #1)  £44.28       1
9   Hollow City (Miss Peregrine’s Peculiar Childre...  £42.98       1
10                             The Star-Touched Queen  £46.02       5
11        The Hidden Oracle (The Trials of Apollo #1)  £52.26       2
12    The Bane Chronicles (The Bane Chronicles #1-11)  £44.73       4
13                   Island of Dragons (Unwanteds #7)  £29.65       1
14  Demigods & Magicians: Percy and Annabeth Meet ...  £37.51       5
15          City of Glass (The Mortal Instruments #3)  £56.02       4
16                   Searching for Meaning in Gailana  £38.73       1
17                             The Star-Touched Queen  £32.30       5
18        A Shard of Ice (The Black Symphony Saga #1)  £56.63       3
19           King's Folly (The Kinsman Chronicles #1)  £39.61       5

In [229]:
url_romance = "https://books.toscrape.com/catalogue/category/books/romance_8/index.html"
response = requests.get(url_romance)
response

In [233]:
soup_romance = BeautifulSoup(response.content)

In [235]:
#Romance
star_converter = {
    "Zero": 0,
    "One": 1,
    "Two": 2,
    "Three": 3,
    "Four": 4,
    "Five": 5
}

book_titles = []
book_prices = []
book_stars = []

all_title = soup_romance.find_all('ol')
for ol in all_title:
    for li in ol.find_all("li"):
        book_titles.append(li.h3.a.get("title"))
        book_prices.append(li.find("p", class_="price_color").text)
        book_stars.append(
            star_converter.get(
                li.find("p", class_="star-rating").get("class")[1]
            )
        )

In [237]:
romance_dict = {"title": book_titles, "price": book_prices, "rating": book_stars}
romance_df = pd.DataFrame(romance_dict)
romance_df

                                               title   price  rating
0                         Chase Me (Paris Nights #2)  £25.27       5
1                                         Black Dust  £34.53       5
2      Her Backup Boyfriend (The Sorensen Family #1)  £33.97       1
3                 First and First (Five Boroughs #3)  £15.97       4
4              Fifty Shades Darker (Fifty Shades #2)  £21.96       1
5                                  The Wedding Dress  £24.12       1
6                   Suddenly in Love (Lake Haven #1)  £55.99       2
7                           Something More Than This  £16.24       4
8                  Doing It Over (Most Likely To #1)  £35.61       3
9                The Wedding Pact (The O'Malleys #2)  £32.61       3
10           Hold Your Breath (Search and Rescue #1)  £28.82       1
11                               Dirty (Dive Bar #1)  £40.83       4
12       Take Me Home Tonight (Rock Star Romance #3)  £53.98       3
13             Off the Hook (Fishing for Trouble #1)  £47.67       3
14  A Gentleman's Position (Society of Gentlemen #3)  £14.75       5
15                                   Sit, Stay, Love  £20.90       3
16   A Girl's Guide to Moving On (New Beginnings #2)  £31.30       1
17                The Perfect Play (Play by Play #1)  £59.99       3
18          Dark Lover (Black Dagger Brotherhood #1)  £12.87       1
19               Changing the Game (Play by Play #2)  £13.38       3

In [239]:
url_mystery = "https://books.toscrape.com/catalogue/category/books/mystery_3/index.html"
response = requests.get(url_mystery)
response

In [240]:
soup_mystery = BeautifulSoup(response.content)

In [245]:
#Mystery

star_converter = {
    "Zero": 0,
    "One": 1,
    "Two": 2,
    "Three": 3,
    "Four": 4,
    "Five": 5
}

book_titles = []
book_prices = []
book_stars = []

all_title = soup_mystery.find_all('ol')
for ol in all_title:
    for li in ol.find_all("li"):
        book_titles.append(li.h3.a.get("title"))
        book_prices.append(li.find("p", class_="price_color").text)
        book_stars.append(
            star_converter.get(
                li.find("p", class_="star-rating").get("class")[1]
            )
        )

In [247]:
mystery_dict = {"title": book_titles, "price": book_prices, "rating": book_stars}
mystery_df = pd.DataFrame(mystery_dict)
mystery_df

                                                title   price  rating
0                                       Sharp Objects  £47.82       4
1                                In a Dark, Dark Wood  £19.63       1
2                                 The Past Never Ends  £56.50       4
3                                    A Murder in Time  £16.64       1
4     The Murder of Roger Ackroyd (Hercule Poirot #4)  £44.10       4
5                      The Last Mile (Amos Decker #2)  £54.21       2
6              That Darkness (Gardiner and Renner #1)  £13.92       1
7                Tastes Like Fear (DI Marnie Rome #3)  £10.69       1
8              A Time of Torment (Charlie Parker #14)  £48.35       5
9             A Study in Scarlet (Sherlock Holmes #1)  £16.73       2
10                   Poisonous (Max Revere Novels #3)  £26.80       3
11  Murder at the 42nd Street Library (Raymond Amb...  £54.36       4
12                                        Most Wanted  £35.28       3
13                         Hide Away (Eve Duncan #20)  £11.84       1
14                      Boar Island (Anna Pigeon #19)  £59.48       3
15                                          The Widow  £27.26       2
16                                  Playing with Fire  £13.71       3
17  What Happened on Beale Street (Secrets of the ...  £25.37       5
18  The Bachelor Girl's Guide to Murder (Herringfo...  £52.30       5
19   Delivering the Truth (Quaker Midwife Mystery #1)  £20.89       4